@import url(/assets/style/style.css);


*body{
    font-family: 'Quicksand', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.product-details{
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    right:0;
}

.primary-button{
    background-color:var(--hospital-gree);
    border-radius: 8px;
    border:none;
    color:var(--white);
    height:50px;
    width:100%;
    cursor:pointer;
    font-size: var(--md);
    font-weight:bold;
   
    
}

.add-to-card-button{
    display:flex;
    align-items:center;
    justify-content:center;
}




.product-details-close{
    position:absolute;
    top:12px;
    left:12px;
    background-color:var(--white);
    border-radius: 50%;
    height:30px;
    width:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
    
}

.product-details >img:nth-child(2){
   width:100%;
   height:360px;
   object-fit:cover;
   border-radius: 0 0 20px 20px;
}


.product-details-close{
    cursor: pointer;
    
}

.product-info{
    margin:24px 24px 0 24px;
}

.product-info p:nth-child(1){
    font-weight:bold;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom:4px;
}

.product-info p:nth-child(2){
    color:var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom:36px;
}
.product-info p:nth-child(3){
    color:var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0px;
    margin-bottom:36px;
}

@media (max-width:640px){
    .product-details{
        width:100%;
    }
}