:root{
    --very-light-pink:#c7c7c7;
    --text-input: #f7f7f7;
    --hospital-gree: #ACD9B2;
    --dark: #232830;
    --black: #000000;
    --white:#ffffff;
    --sm:14px;
    --md:16px;
    --lg:18px;

}